{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>مسابقه {{ comp.title }} • مسابقات داخلی</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/reservation-v1.0.0.css" %}">

        <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
    </head>
    <body>
        <div class="topbar row">
            <div class="columns topbar__title">
                <a href="{% url "visage:submissions" %}">
                    <strong>مسابقات داخلی</strong>
                </a>
            </div>

            <div class="columns shrink">
                <a class="topbar-link" href="{% url "visage:submissions" %}" title="مرسولات">
                    <i class="fa fa-middle"></i>مرسولات
                </a>

                <a class="topbar-link" href="{% url "visage:leader_board" %}" title="رتبه‌بندی">
                    <i class="fa fa-middle"></i>رتبه‌بندی
                </a>

                <a class="topbar-link" href="{% url "visage:competition" %}" title="مسابقات">
                    <i class="fa fa-middle"></i>مسابقات
                </a>

                <a class="topbar-link topbar-logout" href="{% url "authentication:logout" %}" title="خروج از سیستم">
                    <i class="fa fa-sign-out"></i>
                    <span>خروج از سیستم</span>
                </a>
            </div>
        </div>

        <div class="row content">
            <div class="small-12 columns">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="{% url "visage:problem" %}?comp={{competition.pk}}">مسابقه {{ comp.title }}</a></li>
                    </ul>
                </nav>

                <h1>مسابقه {{ comp.title }}</h1>
                <hr/>
                {% for problem in problems %}
                    <h3></i>{{ forloop.counter }}. {{ problem.title }} (ID: {{ problem.pk }})</h3>
                    <p>{{ problem.description|safe }}</p>
                    <a class="topbar-link topbar-logout" href="{% url "visage:download" %}?problem={{problem.pk}}" title="دانلود داده‌های سوال">
                        <i class="fa fa-download"></i>
                        <span>دانلود داده‌های سوال</span>
                    </a>
                <br><br>
                {% endfor %}
                <p></p>
            </div>
        </div>

        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/foundation.min.js" %}"></script>
        <script src="{% static "js/reservation-v1.0.0.js" %}"></script>
    </body>
</html>
